* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    
  }
  
  html {
    font-size: 62.5%;
    /* 1rem = 10px */
    overflow-x: hidden;
  }
  
  body {
    overflow-x: hidden;
  }
  
  .header {
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f5ff;
  }
  
  .header .logo {
    height: 9rem;
  }
  
  .navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
  }
  
  .navbar-link:link,
  .navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #212529;
    transition: all 0.3s;
  }
  
  .navbar-link:hover,
  .navbar-link:active {
    color: #364fc7;
  }
  
  .mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
  }
  
  .mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #212529;
  }
  
  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }
  
  /* ===========================================
  Hero and Service Section Start
  ======================================= */
 
  /* .section-services {} */
   .hero 
  {
    padding: 14.6rem 0;
    background:url("forest.jpg") no-repeat;
    height: 60vh;
    background-size: 1620.2px;
    text-align: center;
    color: #e7f5ff; 
       

  }
  
  .section-services {
    display: grid;
    grid-template-columns: 600px 700px;
    grid-column-gap:10px;
    margin-top: 10rem;
    align-items: center;
    margin-left: 5vw ;
    padding-left: 2vw;
    font-size: medium;
    font-weight: 100;
    background: url("back.jpg") no-repeat;
    background-size: 1420.2px;
  }
  
  .section-hero p
   {
    font-size: 8.2rem;
    font-weight:bolder;
  }
  .container
{
    display: grid;
    
    grid-template-columns:200px 200px 200px;
    /* grid-template-rows: 200px 200px; */
    grid-row-gap:8rem;
    grid-column-gap: 15rem;
    position: absolute;
    justify-content: center;
}
  
.phone
{   border-radius:12px ;
    height: 200px;
    width:300px;
    background-color: aliceblue;
}

.section-hills
{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  
}

.im
{
  transition: 0.4s;
}
.im:hover {
 transform: scale(1.2);
 box-shadow: 2px 2px 2px 2px ;
}

  
  /* ===========================================
  Responsive Codes 
  ======================================= */
  
  /* 980px  */
  @media (max-width: 62em) {
    .mobile-navbar-btn {
      display: block;
      z-index: 999;
      border: 3px solid #212529;
      color: #212529;
    }
  
    .header {
      position: relative;
    }
  
    .header .logo {
      width: 10%;
    }
  
    .navbar {
      /* display: none; */
      width: 100%;
      height: 100vh;
      background: #e7f5ff;
      position: absolute;
      top: 0;
      left: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* to get the tranisition  */
      transform: translateX(100%);
      transition: all 0.5s linear;
  
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    header{
     position: sticky;
    }
  
    .navbar-list {
      flex-direction: column;
      align-items: center;
    }
  
    .active .navbar {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
      display: block;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
      display: none;
    }
  }
  
  /* Below 560px  */
  @media (max-width: 35em) {
    .header {
      padding: 0 2.4rem;
    }
  
    .header .logo {
      width: 60%;
    }
  }

  
  footer
  {
    background-color: #364fc7;
    height: 3rem;
    width: 1517px;
    padding: 0.7rem;
    position: absolute;
    top:200rem;
    text-align: center;
    font-weight: bold;
  }